.btn {
  color: #909090;
  text-decoration: none;
  cursor: pointer;
  width: auto;
  height: 40px;
  display: flex;
  align-items: center;
}
.btn:hover{
  color: black;
  transition: all .1s linear;
}
