.blockParam{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btnPos, .btnNeg{
  margin: 15px 0;
  display: block;
  width: 60px;
  background: #4FAF3F;
  height: 60px;
  font-size: 26px;
  color: #fff;
  border-radius: 6px;
  box-shadow: none;
  border: none;
  cursor: pointer;
}
.btnNeg{
  background: #EB2121;
}