.advngBlock{
  display: block;
  width: 260px;
  height: 180px;
}
.advngBlock img {
  display: block;
  margin: 40px auto;
}
.advngBlock .underAdv{
  width: 200px;
  display: block;
  margin: 20px auto;
  text-align: center;
}
.underAdv span{
  text-transform: uppercase;
}

