.searchStr {
  display: flex;
  padding: 5px;
  border-radius: 5px;
  max-width: 350px;
  height: inherit;
  background-color: #F3F3F3;
}

.searchImg{
  display:flex;
  align-items: center;
  width: auto;
}

div.searchStr img{
  width: 25px;
  height: 23.5px;
}

div.searchStr input {
  font-size: 16px;
  width: 100%;
  margin: 0 13px ;
  height: 27px;
  background-color: #F3F3F3;
  border: none;
  outline: none;
}

div.clear{
  position: relative;
  top: 0;
  right: 0;
  
  width: 25px;
  background-color: azure;
  height: 25px;
  font-size: 25px;
}
div.deleteState{
  cursor: pointer;
  width: 100%;
  height: 100%;
  /* rotate: 45deg; */
  font-size: 25px;
}


