.tile{
  box-sizing: border-box;
  margin: 35px 15px;
  width: 270px;
  height: 200px;
  border: 5px solid #f4f4f4;
  border-radius: 8px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  transition: border 0.1s linear;
  cursor: pointer;
}
.tile:hover{
  border: none;

}

.signature{
  margin: 4px;
  background-color: #f7f7f7;
  height: 18px;
  display: flex;
  justify-content: center;
  width: 55px;
  font-size: 12px;
  border-radius: 9px;
}


