.dropDownBlock{
  position: absolute;
  top: 80px;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  width: 265px;
  height: 130px;
  margin: 0;
  padding: 10px;
  border-radius: 8px;
  z-index: 100;
  background-color: #F3F3F3;
}
.dropDownBlock:hover{
  background-color: #eeeeee;
}
.dropDownBlock img{
  width: 130px;
  height: 90;
}
